<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<style>
			#divCabecalho{
				justify-content: flex-end;
			}

			#LinhaDivisoria{
				background-color: brown;
				height: 3px;	
			}
		</style>
		
		<!-- Refenciando o JQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!--JQuery Mask Plugin-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
				//Catch the ID user
				var url = window.location.href;
				var idSolicitacao = url.split('/')[5]
				var idToken = url.split('/')[6]
				var idUser = idToken.split('?token=')[0]
				var token = idToken.split('?token=')[1]
								
				$('#btnProposta').click(function(e){
					window.location.href = '/company/orcamento/emissao/' + idSolicitacao + '/'+ idUser + '?token=' + token;
				})
            })
        </script>

		<title>Orçamentos</title>
	</head>
	<body>
		<div class="row col-xs-12 col-sm-12" id="divCabecalho">
			<a href="" target="_blank">
				<button type="button" class="btn btn-sm">Meu Cadastro</button>
            </a>
			<a href="./solicitacao.ejs" target="_blank">
				<button type="button" class="btn btn-sm">Solicitação de Mudança</button>
			</a>
			<a href="10.1.0.101:8000" target="_blank">
				<button type="button" class="btn btn-sm">Sair</button>
			</a>
		</div>
			
		<div class="row col-sm-12" id="LinhaDivisoria"></div>
		<h1 class="col-sm-12">Detalhes</h1>
		<div class="container-fluid">
			<div class="row col-sm-12">
				<div class="col-sm-12">
					<label>Título do Orçamento:</label>
					<p><%= detail.cod_usuario %></p>

					<label>Endereço de Origem:</label>
					<p><%= detail.cod_endereco_origem %></p>

					<label>Endereço de Destino:</label>
					<p><%= detail.cod_endereco_destino %></p>

					<label>Data agendada:</label>
					<p><%= detail.data_servico %></p>

					<label>Data agendada:</label>
					<p><%= detail.hora_servico %></p>

					<label>Valor total dos Itens:</label>
					<p><%= detail.valor_estimado %></p>
					
					<label>Descrição:</label>
					<p><%= detail.des_solicitacao %></p>

					<input type="button" class="col-sm-2" id="btnProposta" value="Fazer Proposta">
					<input type="button" class="col-sm-2" id="btnVoltar" value="Voltar">
                </div>
			</div>
		</div>
	</body>
</html>