<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<style>
			#divCabecalho{
				justify-content: flex-end;
			}

			#LinhaDivisoria{
				background-color: brown;
				height: 3px;	
			}
		</style>
		
		<!-- Refenciando o JQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!--JQuery Mask Plugin-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
				$('#btnEditar').click(function(e){
					var selValue = $('input[name=radio]:checked').val();
					alert(selValue);
					//window.location.href = 'company/orcamento/emissao/'+ campoA + '/' + idUser + '?token=' + token;		
				})
            })
        </script>

		<title>Orçamentos</title>
	</head>
	<body>
		<div class="row col-xs-12 col-sm-12" id="divCabecalho">
			<a href="" target="_blank">
				<button type="button" class="btn btn-sm">Meu Cadastro</button>
            </a>
			<a href="./solicitacao.ejs" target="_blank">
				<button type="button" class="btn btn-sm">Solicitação de Mudança</button>
			</a>
			<a href="10.1.0.101:8000" target="_blank">
				<button type="button" class="btn btn-sm">Sair</button>
			</a>
		</div>
			
		<div class="row col-sm-12" id="LinhaDivisoria"></div>
		<h1 class="col-sm-12">Meus Orçamentos</h1>
		<div class="container-fluid">
			<div class="row col-sm-12">
				<div class="col-sm-12">
					<table border="1" id="solicit">
						<thead>
							<th>Caixa de seleção</th>
							<th>Código</th>
							<th>Descrição</th>
							<th>Endereço de Origem</th>
							<th>Endereço de Destino</th>
							<th>Data</th>
							<th>Hora</th>
							<th>Status</th>
						</thead>
						<tbody>
							<% for (var i=0;i<itens.length; i++){%>
								<td><input type="radio" name="radio" id="radio" value="<%= itens[i].cod_solicitacao %>"/></td>
								<td><%= itens[i].cod_solicitacao %></td>
								<td><%= itens[i].des_solicitacao %></td>
								<td><%= itens[i].cod_endereco_origem %></td>
								<td><%= itens[i].cod_endereco_destino %></td>
								<td><%= itens[i].data_servico %></td>
								<td><%= itens[i].hora_servico %></td>
								<td><%= itens[i].data_cadastro %></td>
							<% } %>
						</tbody>
					</table>
					<input type="button" class="col-sm-2" id="btnEditar" value="Fazer Proposta">
					<input type="button" class="col-sm-2" id="btnVoltar" value="Voltar">
                </div>
			</div>
		</div>
	</body>
</html>